<div class="row mb-4">
  <div class="col-auto">
    <div class="card">
      <div class="card-body">
        <span class="card-subtitle d-block">Avg. request duration</span>
        <span class="card-title h1 d-block mb-0"><%= number_to_human(@average_req_duration, units: { unit: 'ms' }) %></span>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card">
      <div class="card-body">
        <span class="card-subtitle d-block">Avg. job duration</span>
        <span class="card-title h1 d-block mb-0"><%= number_to_human(@average_job_duration, units: { unit: 'ms' }) %></span>
      </div>
    </div>
  </div>
</div>

<h4>Most time consuming</h4>
<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th class="text-end">Count</th>
    <th class="text-end">Avg. duration</th>
    <th class="text-end">Total duration</th>
  </thead>
  <tbody>
    <% @biggest_events.each do |event| %>
      <tr>
        <td><%= link_to event.name, events_path(q: { name_eq: event.name }) %></td>
        <td class="text-end"><%= event.count %></td>
        <td class="text-end <%= row_class_from_duration(event.avg_duration) %>"><%= number_to_human(event.avg_duration, units: { unit: 'ms' }) %></td>
        <td class="text-end"><%= number_to_human(event.duration, units: { unit: 'ms' }) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4 class="mt-4">Recent events</h4>
<table class="table table-hover">
  <thead>
    <th><%= sort_link @q, :name, hide_indicator: true %></th>
    <th><%= sort_link @q, :duration, hide_indicator: true %></th>
    <th><%= sort_link @q, :db_runtime, hide_indicator: true %></th>
    <th class="text-end"><%= sort_link @q, :created_at, hide_indicator: true %></th>
  </thead>
  <tbody>
    <% @recent_events.each do |event| %>
      <%= render event.becomes(InnerPerformance::Event) %>
    <% end %>
  </tbody>
</table>
