<!DOCTYPE html>
<html>
<head>
  <title>☯️ Inner performance</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= tag.link rel: "stylesheet", href: frontend_static_path(:bootstrap, format: :css), nonce: content_security_policy_nonce %>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">☯️ InnerPerformance</a>

    <div class="ml-auto">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= events_path %>">Events</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container pt-4">
  <%= yield %>
</div>

</body>
</html>
