<tr>
  <td><%= link_to event.name, events_path(q: { name_eq: event.name }) %></td>
  <td class="<%= row_class_from_duration(event.duration) %>">
    <%= number_to_human(event.duration, units: { unit: 'ms' }) %>
  </td>
  <td><%= number_to_human(event.db_runtime, units: { unit: 'ms' }) %></td>
  <td class="text-end"><%= event.created_at %></td>
</tr>
